/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cutive+Mono&family=Montserrat&display=swap');

/*** RESETTING EVERY PROPERTY ***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: """";
}

/*** END OF RESET ***/

/*
The Box Model: 
In the middle you have the content area (let’s say an image), 
surrounding that you have the padding, 
surrounding that you have the border, 
and surrounding that you have the margin.

|-Margin Box----------|
||--Border Box--------||
|||---Padding Box---|||
||||----Element Box||||
|||-----------------|||
||-------------------||
|---------------------|

*/

:root {
  /* Dark Purple Pallet*/
  /* --main-color01: #1F1D36;
  --main-color02: #3F3351;
  --accent-color01: #864879;
  --accent-color02: #E9A6A6; */

  /* Coffee Pallet*/
  --main-color01: #483434;
  --main-color02: #6B4F4F;
  --main-color02-half-alpha: rgba(107, 79, 79, 0.5);
  --accent-color01: #d3986a;
  --accent-color02: #FFF3E4;

  --main-text-color: rgb(230, 230, 230);
  --header-title-color: var(--accent-color02);

  --main-bg-color: var(--main-color01);
  --main-box-color: var(--main-color02);
  --main-box-shadow-setting: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);
  --link-color: var(--accent-color01);
  --header-links-color: var(--accent-color01);
  --header-links-hover-color: var(--accent-color02);

  --bg-img: url(./Images/noisy-texture-100x100.png);
  --bg-img-elements: url(Images/textured-paper_a.png);

  --h2-color: var(--accent-color02);

  --main-font: 'Bitter';
  --accent-font: 'Montserrat';
}

/* The * selector selects all elements. */
* {
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

body {
  color: var(--main-text-color);
  font-family: var(--main-font), serif;
  font-size: 2rem;
  line-height: 3.5rem;
  padding: 2% 20%;
  background: var(--main-bg-color);
  background-image: var(--bg-img);
  background-attachment: fixed;
  cursor: crosshair
}

a {
  color: var(--link-color);
}

h2 {
  color: var(--h2-color);
  font-weight: 600;
  font-size: 3.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  line-height: 4rem;
}

h3 {
  font-weight: 500;
  font-size: 2.5rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

h5 {
  font-weight: 200;
  font-size: 1.5rem;
}

em {
  font-weight: 700;
}

img {
  padding-top: 2rem;
  padding-bottom: 2rem;
}



/* For code snippets */
pre {
  padding: 2rem 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: monospace;
  line-height: normal;
}

/* For in-line code */

code {
  font-size: 2.5rem;
  font-family: 'Cutive Mono', monospace;
  line-height: 3.5rem;
  color: var(--main-text-color);
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style for code prettify to show line numbers */
li.L0, li.L1, li.L2, li.L3, li.L4,
li.L5, li.L6, li.L7, li.L8, li.L9 {
  list-style-type: decimal !important;
}

/*Lists*/
ul {
  list-style-type: disc;
  padding-left: 2rem
}

/* Header/Blog Title */
.header {
  color: var(--header-title-color);
  padding: 3rem;
  text-align: center;
  background: var(--main-box-color);
  background-image: var(--bg-img-elements);
  background-blend-mode: multiply;
  box-shadow: var(--main-box-shadow-setting);
}

.header h1 {
  font-family: var(--accent-font), serif;
  font-size: 5rem;
  line-height: 10rem;
}

a.homeLink:link {
  text-decoration: none;
}

a.homeLink:visited {
  text-decoration: none;
  color: inherit;
}

a.homeLink:hover {
  text-decoration: none;
}

a.homeLink:active {
  text-decoration: none;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: var(--header-links-color);
  box-shadow: var(--main-box-shadow-setting);
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: var(--main-text-color);
  text-align: center;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: var(--header-links-hover-color);
  color: var(--accent-color01);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 80%;

}

/* Right column */
.rightcolumn {
  float: left;
  width: 20%;
  overflow-wrap: break-word;
  padding-left: 2rem;
}

.rightcolumn h3 {
  text-align: center;
  color: var(--accent-color02);
  font-family: var(--accent-font), serif;

}

.rightcolumn img {
  /* These next 3 lines will center the image */
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  max-width: 100px;
  border-radius: 50%;
}



/* Add a card effect for articles */
.card {
  padding: 3rem;
  margin-top: 2rem;
  background-image: var(--bg-img-elements);
  background-color: var(--main-box-color);
  background-blend-mode: multiply;
  box-shadow: var(--main-box-shadow-setting);
}

.card img {
  max-width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
#footer {
  padding: 2rem;
  text-align: center;
  background: var(--main-box-color);
  box-shadow: var(--main-box-shadow-setting);
  background-image: var(--bg-img-elements);
  background-blend-mode: multiply;
  margin-top: 2rem;
}

/* Responsive layout */
/* @media screen and (max-width: 1400px) {
  body {
    padding: 2% 5%;
  }
} */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 768px) {
  body {
    padding: 2rem;
  }

  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
} */

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* @media screen and (max-width: 400px) {
  body {
    padding: 2rem;
  }

  .topnav a {
    float: none;
    width: 100%;
  }
} */